openapi: 3.1.0

info:
  title: GeoDB Cities API

  description: |
    The GeoDB API focuses on getting global places and regions. Easily obtain country, region, and place data for use in your apps!

    ### Key Features
    - Filter places by name prefix, country, location, time-zone, and even minimum population.
    - Sort places by name, country code, elevation, and population — or any combination of these.
    - Get all country regions.
    - Get all places in a given country or region.
    - Display results in multiple languages.
    - RESTful API adheres to industry best-practices, including HATEOAS-style links to facilitate paging results.
    - Backed by cloud-based load-balanced infrastructure.
    - Data is periodically refreshed from GeoNames and WikiData.

    ### Important Notes
    Since the database is periodically updated, this may **very rarely** result in certain places being marked as deleted (e.g., duplicates removed).

    By default, endpoints returning place data will exclude deleted places. However, if you're paging through results and want to avoid unexpected changes due to deletions, you can specify:

    - `includeDeleted=SINCE_YESTERDAY`
    - or `includeDeleted=SINCE_LAST_WEEK` (if you're extra cautious)

    ---

    ### Useful Resources

    #### SDKs
    - **Angular**
      [Angular Client](https://www.npmjs.com/package/wft-geodb-angular-client) | [Sample App](https://github.com/wirefreethought/geodb-sample-angular-app)
    - **Java**
      [Java Client](https://github.com/wirefreethought/geodb-java-client)
    - **JavaScript**
      [JavaScript Client](https://www.npmjs.com/package/wft-geodb-js-client)

    #### Documentation & License
    - [Swagger Docs](swagger.json)
    - [Usage License (CC BY 3.0)](http://creativecommons.org/licenses/by/3.0/)

  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/

  version: 1.0.0

  x-logo:
    url: logo.png
    backgroundColor: "#FFFFFF"

servers:
- url: https://wft-geo-db.p.rapidapi.com/v1

security:
- UserSecurity: []

tags:
- name: Geo
  description: Geo Endpoints
- name: Locale
  description: Locale Endpoints

paths:
  /geo/adminDivisions:
    get:
      description: |
        Find administrative divisions, filtering by optional criteria. If no criteria are set, you will get back all
        known divisions.
      operationId: findAdminDivisionsUsingGET
      parameters:
      - description: "Only places near this location. Latitude/longitude in ISO-6709\
          \ format: ±DD.DDDD±DDD.DDDD"
        in: query
        name: location
        schema:
          type: string
      - description: The location radius within which to find places
        in: query
        name: radius
        schema:
          format: int32
          type: integer
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      - description: Only places in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: countryIds
        schema:
          type: string
      - description: Only places NOT in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: excludedCountryIds
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort places. \nFormat: ±SORT_FIELD,±SORT_FIELD \nwhere\
          \ SORT_FIELD = countryCode | elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
      summary: Find admin divisions
      tags:
      - Geo
  /geo/adminDivisions/{divisionId}:
    get:
      description: |
        Get administrative division details such as location coordinates, population, and
        elevation above sea-level (if available).
      operationId: getAdminDivisionUsingGET
      parameters:
      - description: An admin-division id (either native 'id' or 'wikiDataId')
        in: path
        name: divisionId
        required: true
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlaceResponse"
          description: Populated-place details
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Get admin division details
      tags:
      - Geo
  /geo/adminDivisions/{divisionId}/nearbyCities:
    get:
      description: |
        Find cities near the given administrative division, filtering by optional criteria. If no criteria are set, you
        will get back all known cities.
      operationId: findCitiesNearAdminDivisionUsingGET
      parameters:
      - description: An admin-division id (either native 'id' or 'wikiDataId')
        in: path
        name: divisionId
        required: true
        schema:
          type: string
      - description: The location radius within which to find places
        in: query
        name: radius
        schema:
          format: int32
          type: integer
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      - description: Only places in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: countryIds
        schema:
          type: string
      - description: Only places NOT in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: excludedCountryIds
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: "Only cities for these types (comma-delimited): ADM2 | CITY"
        in: query
        name: types
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort places. \nFormat: ±SORT_FIELD,±SORT_FIELD \nwhere\
          \ SORT_FIELD = countryCode | elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Find cities near division
      tags:
      - Geo
  /geo/adminDivisions/{divisionId}/nearbyDivisions:
    get:
      description: |
        Find administrative divisions near the given division, filtering by optional criteria. If no criteria
        are set, you will get back all known divisions.
      operationId: findDivisionsNearAdminDivisionUsingGET
      parameters:
      - description: An admin-division id (either native 'id' or 'wikiDataId')
        in: path
        name: divisionId
        required: true
        schema:
          type: string
      - description: The location radius within which to find places
        in: query
        name: radius
        schema:
          format: int32
          type: integer
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      - description: Only places in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: countryIds
        schema:
          type: string
      - description: Only places NOT in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: excludedCountryIds
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort places. \nFormat: ±SORT_FIELD,±SORT_FIELD \nwhere\
          \ SORT_FIELD = countryCode | elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Find admin divisions near division
      tags:
      - Geo
  /geo/adminDivisions/{divisionId}/nearbyPlaces:
    get:
      description: |
        Find places near the given administrative division, filtering by optional criteria. If no criteria are set, you
        will get back all known places.
      operationId: findPlacesNearAdminDivisionUsingGET
      parameters:
      - description: An admin-division id (either native 'id' or 'wikiDataId')
        in: path
        name: divisionId
        required: true
        schema:
          type: string
      - description: The location radius within which to find places
        in: query
        name: radius
        schema:
          format: int32
          type: integer
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      - description: Only places in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: countryIds
        schema:
          type: string
      - description: Only places NOT in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: excludedCountryIds
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: "Only places for these types (comma-delimited): ADM2 | CITY |\
          \ ISLAND"
        in: query
        name: types
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort places. \nFormat: ±SORT_FIELD,±SORT_FIELD \nwhere\
          \ SORT_FIELD = countryCode | elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Find places near division
      tags:
      - Geo
  /geo/cities:
    get:
      description: |
        Find cities, filtering by optional criteria. If no criteria are set, you will get back all known cities.
      operationId: findCitiesUsingGET
      parameters:
      - description: "Only places near this location. Latitude/longitude in ISO-6709\
          \ format: ±DD.DDDD±DDD.DDDD"
        in: query
        name: location
        schema:
          type: string
      - description: The location radius within which to find places
        in: query
        name: radius
        schema:
          format: int32
          type: integer
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      - description: Only places in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: countryIds
        schema:
          type: string
      - description: Only places NOT in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: excludedCountryIds
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: "Only cities for these types (comma-delimited): ADM2 | CITY"
        in: query
        name: types
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort places. \nFormat: ±SORT_FIELD,±SORT_FIELD \nwhere\
          \ SORT_FIELD = countryCode | elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
      summary: Find cities
      tags:
      - Geo
  /geo/cities/{cityId}/nearbyCities:
    get:
      description: |
        Find cities near the given city, filtering by optional criteria. If no criteria are set, you will get
        back all cities within the default radius.
      operationId: findCitiesNearCityUsingGET
      parameters:
      - description: A city id (either native 'id' or 'wikiDataId')
        in: path
        name: cityId
        required: true
        schema:
          type: string
      - description: The location radius within which to find places
        in: query
        name: radius
        schema:
          format: int32
          type: integer
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      - description: Only places in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: countryIds
        schema:
          type: string
      - description: Only places NOT in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: excludedCountryIds
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: "Only cities for these types (comma-delimited): ADM2 | CITY"
        in: query
        name: types
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort places. \nFormat: ±SORT_FIELD,±SORT_FIELD \nwhere\
          \ SORT_FIELD = countryCode | elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Find cities near city
      tags:
      - Geo
  /geo/cities/{cityId}/nearbyDivisions:
    get:
      description: |
        Find administrative divisions near the given city, filtering by optional criteria. If no criteria are set, you will get
        back all divisions within the default radius.
      operationId: findDivisionsNearCityUsingGET
      parameters:
      - description: A city id (either native 'id' or 'wikiDataId')
        in: path
        name: cityId
        required: true
        schema:
          type: string
      - description: The location radius within which to find places
        in: query
        name: radius
        schema:
          format: int32
          type: integer
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      - description: Only places in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: countryIds
        schema:
          type: string
      - description: Only places NOT in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: excludedCountryIds
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort places. \nFormat: ±SORT_FIELD,±SORT_FIELD \nwhere\
          \ SORT_FIELD = countryCode | elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Find admin divisions near city
      tags:
      - Geo
  /geo/cities/{cityId}/nearbyPlaces:
    get:
      description: |
        Find places near the given city, filtering by optional criteria. If no criteria are set, you will get
        back all places within the default radius.
      operationId: findPlacesNearCityUsingGET
      parameters:
      - description: A city id (either native 'id' or 'wikiDataId')
        in: path
        name: cityId
        required: true
        schema:
          type: string
      - description: The location radius within which to find places
        in: query
        name: radius
        schema:
          format: int32
          type: integer
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      - description: Only places in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: countryIds
        schema:
          type: string
      - description: Only places NOT in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: excludedCountryIds
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: "Only places for these types (comma-delimited): ADM2 | CITY |\
          \ ISLAND"
        in: query
        name: types
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort places. \nFormat: ±SORT_FIELD,±SORT_FIELD \nwhere\
          \ SORT_FIELD = countryCode | elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Find places near city
      tags:
      - Geo
  /geo/cities/{cityId}:
    get:
      description: |
        Get city details such as location coordinates, population, and elevation above sea-level
        (if available).
      operationId: getCityUsingGET
      parameters:
      - description: A city id (either native 'id' or 'wikiDataId')
        in: path
        name: cityId
        required: true
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlaceResponse"
          description: Populated-place details
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Get city details
      tags:
      - Geo
  /geo/cities/{cityId}/distance:
    get:
      description: Get distance from the given city
      operationId: getCityDistanceUsingGET
      parameters:
      - description: A city id (either native 'id' or 'wikiDataId')
        in: path
        name: cityId
        required: true
        schema:
          type: string
      - description: Distance to this city
        in: query
        name: toCityId
        required: true
        schema:
          type: string
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistanceResponse"
          description: A decimal distance (in miles or kilometers)
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Get city distance
      tags:
      - Geo
  /geo/cities/{cityId}/dateTime:
    get:
      description: Get city date-time
      operationId: getCityDateTimeUsingGET
      parameters:
      - description: A city id (either native 'id' or 'wikiDataId')
        in: path
        name: cityId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DateTimeResponse"
          description: An ISO-6801 date-time
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Get city date-time
      tags:
      - Geo
  /geo/cities/{cityId}/locatedIn:
    get:
      description: |
        Get the details for the containing populated place (e.g., its county or other administrative division), including location coordinates, population, and elevation above sea-level
        (if available).
      operationId: getCityLocatedInUsingGET
      parameters:
      - description: A city id (either native 'id' or 'wikiDataId')
        in: path
        name: cityId
        required: true
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlaceResponse"
          description: Populated-place details
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Get city containing region
      tags:
      - Geo
  /geo/cities/{cityId}/time:
    get:
      description: Get city time
      operationId: getCityTimeUsingGET
      parameters:
      - description: A city id (either native 'id' or 'wikiDataId')
        in: path
        name: cityId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeResponse"
          description: An ISO-8601 time response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Get city time
      tags:
      - Geo
  /geo/countries:
    get:
      description: |
        Find countries, filtering by optional criteria. If no criteria are set, you will get back all known countries.
      operationId: getCountriesUsingGET
      parameters:
      - description: Only countries supporting this currency
        in: query
        name: currencyCode
        schema:
          type: string
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort countries. \nFormat: ±SORT_FIELD \nwhere SORT_FIELD\
          \ = code | name"
        in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountriesResponse"
          description: A list of countries
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
      summary: Find countries
      tags:
      - Geo
  /geo/countries/{countryId}:
    get:
      description: Get country details such as number of regions.
      operationId: getCountryUsingGET
      parameters:
      - description: An ISO-3166 country code or WikiData id
        in: path
        name: countryId
        required: true
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountryResponse"
          description: Country detail
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Get country details
      tags:
      - Geo
  /geo/countries/{countryId}/places:
    get:
      description: |
        Get the country's places. The country is omitted in the response.
      operationId: findCountryPlacesUsingGET
      parameters:
      - description: An ISO-3166 country code or WikiData id
        in: path
        name: countryId
        required: true
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: "Only places for these types (comma-delimited): ADM2 | CITY |\
          \ ISLAND"
        in: query
        name: types
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort place results. \n'Format: ±SORT_FIELD,±SORT_FIELD'\
          \ \nwhere SORT_FIELD = elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Find country places
      tags:
      - Geo
  /geo/countries/{countryId}/regions:
    get:
      description: |
        Get the country's regions. These could be states, provinces, districts, or otherwise major
        political divisions.
      operationId: getRegionsUsingGET
      parameters:
      - description: An ISO-3166 country code or WikiData id
        in: path
        name: countryId
        required: true
        schema:
          type: string
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort regions. \nFormat: ±SORT_FIELD \nwhere SORT_FIELD\
          \ = fipsCode | isoCode | name"
        in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionsResponse"
          description: A list of country regions
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Find country regions
      tags:
      - Geo
  /geo/countries/{countryId}/regions/{regionCode}:
    get:
      description: Get country region details such as number of cities.
      operationId: getRegionUsingGET
      parameters:
      - description: An ISO-3166 country code or WikiData id
        in: path
        name: countryId
        required: true
        schema:
          type: string
      - description: An ISO-3166 or FIPS region code
        in: path
        name: regionCode
        required: true
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionResponse"
          description: Country region details
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Get region details
      tags:
      - Geo
  /geo/countries/{countryId}/regions/{regionCode}/adminDivisions:
    get:
      description: |
        Get country region administrative divisions. The country and region info is omitted in the
        response.
      operationId: findRegionDivisionsUsingGET
      parameters:
      - description: An ISO-3166 country code or WikiData id
        in: path
        name: countryId
        required: true
        schema:
          type: string
      - description: An ISO-3166 or FIPS region code
        in: path
        name: regionCode
        required: true
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort place results. \n'Format: ±SORT_FIELD,±SORT_FIELD'\
          \ \nwhere SORT_FIELD = elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Find country region administrative divisions
      tags:
      - Geo
  /geo/countries/{countryId}/regions/{regionCode}/cities:
    get:
      description: |
        Get country region cities. The country and region info is omitted in the response.
      operationId: findRegionCitiesUsingGET
      parameters:
      - description: An ISO-3166 country code or WikiData id
        in: path
        name: countryId
        required: true
        schema:
          type: string
      - description: An ISO-3166 or FIPS region code
        in: path
        name: regionCode
        required: true
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: "Only cities for these types (comma-delimited): ADM2 | CITY"
        in: query
        name: types
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort place results. \n'Format: ±SORT_FIELD,±SORT_FIELD'\
          \ \nwhere SORT_FIELD = elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Find country region cities
      tags:
      - Geo
  /geo/countries/{countryId}/regions/{regionCode}/places:
    get:
      description: |
        Get country region places. The country and region info is omitted in the response.
      operationId: findRegionPlacesUsingGET
      parameters:
      - description: An ISO-3166 country code or WikiData id
        in: path
        name: countryId
        required: true
        schema:
          type: string
      - description: An ISO-3166 or FIPS region code
        in: path
        name: regionCode
        required: true
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: "Only places for these types (comma-delimited): ADM2 | CITY |\
          \ ISLAND"
        in: query
        name: types
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort place results. \n'Format: ±SORT_FIELD,±SORT_FIELD'\
          \ \nwhere SORT_FIELD = elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Find country region places
      tags:
      - Geo
  /geo/locations/{locationId}/nearbyCities:
    get:
      description: |
        Find cities near the given location, filtering by optional criteria. If no criteria are set, you will get back
        all cities within the default radius.
      operationId: findCitiesNearLocationUsingGET
      parameters:
      - description: "A latitude/longitude in ISO-6709 format: ±DD.DDDD±DDD.DDDD"
        in: path
        name: locationId
        required: true
        schema:
          type: string
      - description: The location radius within which to find places
        in: query
        name: radius
        schema:
          format: int32
          type: integer
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      - description: Only places in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: countryIds
        schema:
          type: string
      - description: Only places NOT in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: excludedCountryIds
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: "Only cities for these types (comma-delimited): ADM2 | CITY"
        in: query
        name: types
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort places. \nFormat: ±SORT_FIELD,±SORT_FIELD \nwhere\
          \ SORT_FIELD = countryCode | elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
      summary: Find cities near location
      tags:
      - Geo
  /geo/locations/{locationId}/nearbyDivisions:
    get:
      description: |
        Find administrative divisions near the given location, filtering by optional criteria. If no criteria are set,
        you will get back all divisions within the default radius.
      operationId: findDivisionsNearLocationUsingGET
      parameters:
      - description: "A latitude/longitude in ISO-6709 format: ±DD.DDDD±DDD.DDDD"
        in: path
        name: locationId
        required: true
        schema:
          type: string
      - description: The location radius within which to find places
        in: query
        name: radius
        schema:
          format: int32
          type: integer
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      - description: Only places in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: countryIds
        schema:
          type: string
      - description: Only places NOT in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: excludedCountryIds
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort places. \nFormat: ±SORT_FIELD,±SORT_FIELD \nwhere\
          \ SORT_FIELD = countryCode | elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
      summary: Find admin divisions near location
      tags:
      - Geo
  /geo/locations/{locationId}/nearbyPlaces:
    get:
      description: |
        Find places near the given location, filtering by optional criteria. If no criteria are set, you will get back
        all places within the default radius.
      operationId: findPlacesNearLocationUsingGET
      parameters:
      - description: "A latitude/longitude in ISO-6709 format: ±DD.DDDD±DDD.DDDD"
        in: path
        name: locationId
        required: true
        schema:
          type: string
      - description: The location radius within which to find places
        in: query
        name: radius
        schema:
          format: int32
          type: integer
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      - description: Only places in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: countryIds
        schema:
          type: string
      - description: Only places NOT in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: excludedCountryIds
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: "Only places for these types (comma-delimited): ADM2 | CITY |\
          \ ISLAND"
        in: query
        name: types
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort places. \nFormat: ±SORT_FIELD,±SORT_FIELD \nwhere\
          \ SORT_FIELD = countryCode | elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
      summary: Find places near location
      tags:
      - Geo
  /geo/places:
    get:
      description: |
        Find places, filtering by optional criteria. If no criteria are set, you will get back all known places.
      operationId: findPlacesUsingGET
      parameters:
      - description: "Only places near this location. Latitude/longitude in ISO-6709\
          \ format: ±DD.DDDD±DDD.DDDD"
        in: query
        name: location
        schema:
          type: string
      - description: The location radius within which to find places
        in: query
        name: radius
        schema:
          format: int32
          type: integer
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      - description: Only places in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: countryIds
        schema:
          type: string
      - description: Only places NOT in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: excludedCountryIds
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: "Only places for these types (comma-delimited): ADM2 | CITY |\
          \ ISLAND"
        in: query
        name: types
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort places. \nFormat: ±SORT_FIELD,±SORT_FIELD \nwhere\
          \ SORT_FIELD = countryCode | elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
      summary: Find places
      tags:
      - Geo
  /geo/places/{placeId}/nearbyPlaces:
    get:
      description: |
        Find places near the given place, filtering by optional criteria. If no criteria are set, you will get
        back all places within the default radius.
      operationId: findPlacesNearPlaceUsingGET
      parameters:
      - description: A place id (either native 'id' or 'wikiDataId')
        in: path
        name: placeId
        required: true
        schema:
          type: string
      - description: The location radius within which to find places
        in: query
        name: radius
        schema:
          format: int32
          type: integer
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      - description: Only places in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: countryIds
        schema:
          type: string
      - description: Only places NOT in these countries (comma-delimited country codes
          or WikiData ids)
        in: query
        name: excludedCountryIds
        schema:
          type: string
      - description: Only places having at least this population
        in: query
        name: minPopulation
        schema:
          format: int32
          type: integer
      - description: Only places having no more than this population
        in: query
        name: maxPopulation
        schema:
          format: int32
          type: integer
      - description: |
          Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name
          as it appears in that language.
        in: query
        name: namePrefix
        schema:
          type: string
      - description: |
          When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set.
        in: query
        name: namePrefixDefaultLangResults
        schema:
          default: true
          type: boolean
      - description: Only places in these time-zones (comma-delimited)
        in: query
        name: timeZoneIds
        schema:
          type: string
      - description: "Only places for these types (comma-delimited): ADM2 | CITY |\
          \ ISLAND"
        in: query
        name: types
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Include HATEOAS-style links in results
        in: query
        name: hateoasMode
        schema:
          default: true
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      - description: The maximum number of results to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: The zero-ary offset index into the results
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: "How to sort places. \nFormat: ±SORT_FIELD,±SORT_FIELD \nwhere\
          \ SORT_FIELD = countryCode | elevation | name | population\n"
        in: query
        name: sort
        schema:
          type: string
      - description: "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY\
          \ | SINCE_LAST_WEEK | NONE"
        in: query
        name: includeDeleted
        schema:
          default: NONE
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlacesResponse"
          description: A list of populated places
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Find places near place
      tags:
      - Geo
  /geo/places/{placeId}:
    get:
      description: |
        Get place details such as location coordinates, population, and elevation above sea-level
        (if available).
      operationId: getPlaceUsingGET
      parameters:
      - description: A place id (either native 'id' or 'wikiDataId')
        in: path
        name: placeId
        required: true
        schema:
          type: string
      - description: Display results using ASCII characters
        in: query
        name: asciiMode
        schema:
          default: false
          type: boolean
      - description: Display results in this language
        in: query
        name: languageCode
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopulatedPlaceResponse"
          description: Populated-place details
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Get place details
      tags:
      - Geo
  /geo/places/{placeId}/distance:
    get:
      description: Get distance from the given place
      operationId: getPlaceDistanceUsingGET
      parameters:
      - description: A place id (either native 'id' or 'wikiDataId')
        in: path
        name: placeId
        required: true
        schema:
          type: string
      - description: Distance to this place
        in: query
        name: toPlaceId
        required: true
        schema:
          type: string
      - description: "The unit of distance: MI | KM"
        in: query
        name: distanceUnit
        schema:
          default: MI
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistanceResponse"
          description: A decimal distance (in miles or kilometers)
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Get place distance
      tags:
      - Geo
  /geo/places/{placeId}/dateTime:
    get:
      description: Get place date-time
      operationId: getPlaceDateTimeUsingGET
      parameters:
      - description: A place id (either native 'id' or 'wikiDataId')
        in: path
        name: placeId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DateTimeResponse"
          description: An ISO-6801 date-time
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: 400 - Bad Request
        "401":
          content: {}
          description: 401 - Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
          description: 403 - Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: 404 - Not Found
      summary: Get place date-time
      tags:
      - Geo
  /geo/places/{placeId}/locatedIn:
    get:
      description: |
        Get the details for the containing populated place (e.g., its county or other administrative division), including location coordinates, population, and elevation above sea-level
        (if available).
      operationId: getPlaceLocatedInUsingGET
      parameters:
      - description: A place id (either native 'id' or 'wikiDataId')
        in: path
        name: placeId
        required: true
        schema:
          type: string
[...]
